<ul>
    <li><a href="{{rootPath}}index.html">Home</a></li>
    <li><a href="{{rootPath}}about/">About</a></li>
    <li><a href="{{rootPath}}info/foo/">Awesome Info</a></li>
    <li><a href="{{rootPath}}contact/">Contact Us</a></li>
</ul>