<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{rootPath}}css/styles.min.css">
</head>

<body>

<h3>INDEX TEMPLATE</h3>

{{! Pass the metalsmith metadata contect to metalsmith-rootpath }}
{{> navigation this }}

{{{ contents }}}

{{! Each file has a filename variable }}
<p>This file's filename is: {{ filename }}</p>

{{! Helpers are auto-loaded from the layouts/helpers directory }}
<p>{{ trim '  This should be trimmed via the trim helper. '}}</p>

<script src="{{rootPath}}js/bin/dependencies.min.js"></script>
<script src="{{rootPath}}js/bin/bundle.min.js"></script>



</body>
</html>
